doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //-Agregando una hoja de estilos css
        style 
            include ./email.css
    body 
        h2 Confirma tu cuenta Uptask
        p Ya estás casi incrito, presiona el siguiente boton
        a(href=`${confirmarUrl}`) Cpnfirma tu ceunta
        p Si no puedes acceder a este enlace, visita #{confirmarUrl}
